*,
*::after,
*::before {
    box-sizing: border-box;
}

:root {
    --cell-size: 100px;
    --mark-size: calc(var(--cell-size) * 0.9);
}

body {
    margin: 0;
    font-family: sans-serif;
    background: linear-gradient(
        270deg,
        rgb(59, 76, 175) 0%,
        rgb(140, 18, 108) 100%
    );
}
h1 {
    text-align: center;
    font-size: 3rem;
}

.board {
    width: 100vw;
    height: 80vh;
    justify-content: center;
    display: grid;
    align-content: center;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(3, auto);
}

.cell {
    width: var(--cell-size);
    height: var(--cell-size);
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
}

.cell:hover {
    /* background-color: gray; */
    background: linear-gradient(
        270deg,
        rgb(59, 76, 175) 0%,
        rgb(140, 18, 108) 100%
    );
}

.cell:first-child,
.cell:nth-child(2),
.cell:nth-child(3) {
    border-top: none;
}

.cell:nth-child(3n + 1) {
    border-left: none;
}

.cell:nth-child(3n + 3) {
    border-right: none;
}
.cell:last-child,
.cell:nth-child(8),
.cell:nth-child(7) {
    border-bottom: none;
}
.cell.x,
.cell.circle {
    cursor: not-allowed;
}

.cell.x::before,
.cell.x::after,
.cell.circle::before {
    background-color: black;
}

.cell.x::before,
.cell.x::after {
    content: "";
    position: absolute;
    width: calc(var(--mark-size) * 0.15);
    height: var(--mark-size);
}
.cell.x::before {
    transform: rotate(45deg);
}

.cell.x::after {
    transform: rotate(-45deg);
}
.cell.circle::before,
.cell.circle::after {
    content: "";
    position: absolute;
    border-radius: 50%;
}
.cell.circle::before {
    width: var(--mark-size);
    height: var(--mark-size);
}
.cell.circle::after {
    width: calc(var(--mark-size) * 0.7);
    height: calc(var(--mark-size) * 0.7);
    background: linear-gradient(
        270deg,
        rgb(140, 18, 108) 0%,
        rgb(59, 76, 175) 100%
    );
}
.winningMessage {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(80, 136, 240, 0.9);
    justify-content: center;
    align-items: center;
    color: rgb(30, 19, 160);
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
    font-size: 5rem;
    flex-direction: column;
}
.winningMessage.show {
    display: flex;
}
#restartButton {
    height: 8vh;
    width: 16vw;
    font-size: 3rem;
    border-radius: 50px;
    border: none;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(19, 3, 67);
    background-color: rgb(138, 48, 113);
    cursor: pointer;
}
#restartButton:hover {
    background-color: rgb(114, 41, 122);
}
#reset {
    height: 5vh;
    width: 10vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    border-radius: 50px;
    border: bisque;
    position: absolute;
    bottom: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(7, 6, 6);
    background-color: rgb(88, 35, 73);
    cursor: pointer;
}
